<p>forms-array-example works!</p>

<h3>Add Course Lessons:</h3>
<div [formGroup]="editForm">
  <div>
    <label for="companyName"> Company Name </label>
    <input id="companyName" type="text" formControlName="companyName" />
    <br />
    <label for="price">Price:</label>
    <input id="price" type="number" formControlName="price" />
    <span *ngIf="showPriceRangeHint">
      Price should be between 1 and 10000!!!
    </span>
    <br />
    <label for="rowCount">Num Rows:</label>
    <input id="rowCount" type="number" formControlName="rowCount" />
    <p></p>
  </div>
  <div formArrayName="lessons">
    <div
      *ngFor="
        let lessonForm of editForm.controls.lessons.controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <input id="title" type="text" formControlName="title" />
        <input id="level" type="text" formControlName="level" />
      </div>
    </div>
  </div>
</div>

<button (click)="addLesson()">add</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button (click)="deleteLesson()">delete last row</button>

<div>
  <p>real time data: {{ editForm.value | json }}</p>
  <div *ngFor="let item of editForm.controls | keyvalue">
    key: {{ item.key }} value: {{ item.value }}
    <br />
  </div>
</div>
