<div *ngIf="currentProduct">
  <hr />
  <h2>Product Details</h2>
  <h3>{{ currentProduct.name }}</h3>
  <span>{{ currentProduct.price | currency : "USD" }}</span>

  <input type="number" placeholder="New price" #price />
  <button (click)="changePrice(currentProduct, price.valueAsNumber)">
    Change
  </button>
  <div [ngSwitch]="currentProduct.name">
    <p *ngSwitchCase="'Webcam'">Product is used for video</p>
    <p *ngSwitchCase="'Microphone'">Product is used for audio</p>
    <p *ngSwitchDefault>Product is for general use</p>
  </div>
  <button *ngIf="authService.isLoggedIn" (click)="buy()">Buy Now</button>
  <hr />
</div>
